[submodule "StellaEngine/vendor/spdlog"]
	path = StellaEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/TheCherno/imgui
